@import url('./fonts.css');

*{
    margin:0;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    box-sizing: border-box;
}
body{
    color: #86878b;
}
header{
    height: 70px;
    background-color: black;
    background-position: center;
}
img.axit{
    padding-left: 150px;
    padding-top: 21px;
}
.menu{
    padding-left: 1000px;
    display: inline-flex;
    font-family: "Open Sans SemiBold", sans-serif;
}
.about{
    padding-left: 50px;
}
.pricing1{
    padding-left: 50px;
}
.reviews{
    padding-left: 50px;
}
.contact1{
    padding-left: 50px;
}
.container0{
    background-image: url("../images/u24_state0.png");
    display: grid;
    background-size: cover;
}
img.axit2{
    float: left;
    padding-left: 150px;
    padding-top: 110px;
}
h2.modern {
    text-align: left;
    padding-left: 150px;
}

.container5{
    height: 105px;
}
h3.social{
    font-family: "Open Sans Bold", sans-serif;
    font-size: 20px;
    padding-left: 150px;
    text-align: left;
}
p.p4{
    padding-left: 150px;
    text-align: left;
}
h2{
    color: #212121;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-size:36px;
    text-align: center;
    margin-bottom: 25px;
}
h2:after{
    content:'';
    display: block;
    width: 64px;
    height: 2px;
    background-color: #ff8c2c;
    margin: 23px auto 0;
}

h3{
    color: #333333;
    font-size: 20px;
    font-weight: 700;
}

h2._left{
    text-align: left;
}

h2._left:after{
    margin: 0;
}

h2._white{
    color:white;
}

h2._white:after{
    background-color: white;
}

.container{
    max-width: 1110px;
    margin:0 auto;
    padding: 110px 0;
}

.row{
    display: flex;
    margin:0 -20px;
    justify-content: space-between;
}

.cell{
    padding: 0 20px;
}

.benefit{
    text-align: center;
}

.benefit__p{
    margin-bottom: 80px;
}

.benefit__image-wrap{
    display: inline-flex;
    width: 68px;
    height: 68px;
    border: 2px solid #ff8c2c;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-bottom: 22px;
}

.benefit__image{
    color: #ff8c2c;
    font-size: 32px;
}

.benefit__h3{
    margin-bottom: 22px;
}

.container2 {
    /*background-image: url("../images/u25_state0.jpg");*/
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../images/u25_state0.jpg");
    background-size: cover;
}

h2._white{
    padding-top: 75px;
    margin-bottom: 32px;
}

p.benefit__p1{
    font-family: 'Raleway Light', sans-serif;
    margin-bottom: 33px;
    color: white;
    font-size: 16px;
    opacity: 0.5;
}

div.benefit__downloads{
    color: white;
    font-family: 'Open Sans SemiBold', sans-serif;
    font-size: 15px;
    text-align: center;
    border: 2px solid white ;
    height: 38px;
    width: 131px;
    margin-bottom: 63px;
    align-items: center;
    display: inline-grid;
}

.container3{
    background-color: #000000;
    background-size: cover;
    max-height: 98px;
}
div.benefit__image-icon{
    padding-top: 37px;
    padding-bottom: 15px;
    color: #cccccc;
}
svg.facebook{
    height: 23px;
    width: 13px;
    padding-right: 32px;
    box-sizing: unset;
}
svg.twitter{
    height: 20px;
    width: 20px;
    padding-right: 31px;
    box-sizing: unset;
}
svg.google{
    height: 23px;
    width: 22px;
    padding-right: 24px;
    box-sizing: unset;
}
svg.pinterest{
    height: 21px;
    width: 21px;
    padding-right: 29px;
    box-sizing: unset;
}
svg.instagram{
    height: 21px;
    width: 22px;
    padding-right: 29px;
    box-sizing: unset;
}
svg.stumbleupon{
    height: 24px;
    width: 27px;
    padding-right: 29px;
    box-sizing: unset;
}
svg.rss{
    height: 23px;
    width: 19px;
    box-sizing: unset;
}
p.benefit_p3{
    font-family: "Open Sans Regular", sans-serif;
    font-size: 12px;
    color: #ffffff;
    opacity: 0.5;
}
div.container1{
    background-color: #f5f5f5;
}
div.container2{
    margin-bottom: 108px;
}
h2.pricing_options{
    padding-top: 105px;
}
.p1{
    margin-bottom: 80px;
}
div.pricing{
    display: flex;
    padding-bottom: 96px;
    justify-content: space-between;
    align-items: flex-end;
}
div.Basic{
margin-left: 146px;
}
div.Basic1{
    background-color: #333333;
    height: 59px;
    width: 343px;
    font-family: "Open Sans Bold", sans-serif;
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 1px;
    align-items: center;
    display: grid;
}
div.Basic2{
    background-color: #333333;
    height: 100px;
    width: 343px;
    font-family: "Raleway Bold", sans-serif;
    color: #ffffff;
    font-size: 88px;
    margin-bottom: 1px;
    align-items: center;
    display: grid;
}
div.Basic3{
    background-color: #333333;
    height: 51px;
    width: 343px;
    font-family: "Open Sans SemiBold", sans-serif ;
    align-items: center;
    display: grid;
}
div.Basic4{
    height: 5px;
    width: 343px;
    background-color: #ff8c2d;
    margin-bottom: 1px;
    align-items: center;
    display: grid;
}
div.Basic5{
    text-transform: uppercase;
    background-color: white;
    height: 40px;
    width: 343px;
    font-family: "Open Sans Regular", sans-serif;
    font-size: 14px;
    color: #86878b;
    margin-bottom: 1px;
    align-items: center;
    display: grid;
}
div.Basic6{
    text-transform: uppercase;
    background-color: white;
    height: 40px;
    width: 343px;
    font-family: "Open Sans Regular", sans-serif;
    font-size: 14px;
    color: #86878b;
    margin-bottom: 1px;
    align-items: center;
    display: grid;
}
div.Basic7{
     text-transform: uppercase;
     background-color: white;
     height: 40px;
     width: 343px;
     font-family: "Open Sans Regular", sans-serif;
     font-size: 14px;
     color: #86878b;
     margin-bottom: 1px;
    align-items: center;
    display: grid;
}
div.Basic8{
      text-transform: uppercase;
      background-color: white;
      height: 40px;
      width: 343px;
      font-family: "Open Sans Regular", sans-serif;
      font-size: 14px;
      color: #86878b;
      margin-bottom: 1px;
    align-items: center;
    display: grid;
}
div.Basic9{
       text-transform: uppercase;
       background-color: white;
       height: 40px;
       width: 343px;
       font-family: "Open Sans Regular", sans-serif;
       font-size: 14px;
       color: #86878b;
       margin-bottom: 1px;
    align-items: center;
    display: grid;
}
div.Basic10{
        text-transform: uppercase;
        background-color: white;
        height: 40px;
        width: 343px;
        font-family: "Open Sans Regular", sans-serif;
        font-size: 14px;
        color: #86878b;
        margin-bottom: 1px;
    align-items: center;
    display: grid;
}
div.Professional{
}
div.Professional1{
    background-color: #333333;
    height: 59px;
    width: 343px;
    font-family: "Open Sans Bold", sans-serif;
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 1px;
    align-items: center;
    display: grid;
}
div.Professional2{
    background-color: #333333;
    height: 100px;
    width: 343px;
    font-family: "Raleway Bold", sans-serif;
    color: #ffffff;
    font-size: 88px;
    margin-bottom: 1px;
    align-items: center;
    display: grid;
}
div.Professional3{
    background-color: #333333;
    height: 51px;
    width: 343px;
    font-family: "Open Sans SemiBold", sans-serif ;
    align-items: center;
    display: grid;
}
div.Professional4{
    height: 40px;
    width: 343px;
    background-color: #ff8c2d;
    margin-bottom: 1px;
    font-family: "Open Sans Bold", sans-serif;
    color: white;
    font-size: 14px;
    align-items: center;
    display: grid;
}
div.Professional5{
    text-transform: uppercase;
    background-color: white;
    height: 40px;
    width: 343px;
    font-family: "Open Sans Regular", sans-serif;
    font-size: 14px;
    color: #86878b;
    margin-bottom: 1px;
    align-items: center;
    display: grid;
}
div.Professional6{
    text-transform: uppercase;
    background-color: white;
    height: 40px;
    width: 343px;
    font-family: "Open Sans Regular", sans-serif;
    font-size: 14px;
    color: #86878b;
    margin-bottom: 1px;
    align-items: center;
    display: grid;
}
div.Professional7{
    text-transform: uppercase;
    background-color: white;
    height: 40px;
    width: 343px;
    font-family: "Open Sans Regular", sans-serif;
    font-size: 14px;
    color: #86878b;
    margin-bottom: 1px;
    align-items: center;
    display: grid;
}
div.Professional8{
    text-transform: uppercase;
    background-color: white;
    height: 40px;
    width: 343px;
    font-family: "Open Sans Regular", sans-serif;
    font-size: 14px;
    color: #86878b;
    margin-bottom: 1px;
    align-items: center;
    display: grid;
}
div.Professional9{
    text-transform: uppercase;
    background-color: white;
    height: 40px;
    width: 343px;
    font-family: "Open Sans Regular", sans-serif;
    font-size: 14px;
    color: #86878b;
    margin-bottom: 1px;
    align-items: center;
    display: grid;
}
div.Professional10{
    text-transform: uppercase;
    background-color: white;
    height: 40px;
    width: 343px;
    font-family: "Open Sans Regular", sans-serif;
    font-size: 14px;
    color: #86878b;
    margin-bottom: 1px;
    align-items: center;
    display: grid;
}

div.Enterprise{
    margin-right: 146px;
}
div.Enterprise1{
    background-color: #333333;
    height: 59px;
    width: 343px;
    font-family: "Open Sans Bold", sans-serif;
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 1px;
    align-items: center;
    display: grid;
}
div.Enterprise2{
    background-color: #333333;
    height: 100px;
    width: 343px;
    font-family: "Raleway Bold", sans-serif;
    color: #ffffff;
    font-size: 88px;
    margin-bottom: 1px;
    align-items: center;
    display: grid;
}
div.Enterprise3{
    background-color: #333333;
    height: 51px;
    width: 343px;
    font-family: "Open Sans SemiBold", sans-serif ;
    align-items: center;
    display: grid;
}
div.Enterprise4{
    height: 5px;
    width: 343px;
    background-color: #ff8c2d;
    margin-bottom: 1px;
    align-items: center;
    display: grid;
}
div.Enterprise5{
    text-transform: uppercase;
    background-color: white;
    height: 40px;
    width: 343px;
    font-family: "Open Sans Regular", sans-serif;
    font-size: 14px;
    color: #86878b;
    margin-bottom: 1px;
    align-items: center;
    display: grid;
}
div.Enterprise6{
    text-transform: uppercase;
    background-color: white;
    height: 40px;
    width: 343px;
    font-family: "Open Sans Regular", sans-serif;
    font-size: 14px;
    color: #86878b;
    margin-bottom: 1px;
    align-items: center;
    display: grid;
}
div.Enterprise7{
    text-transform: uppercase;
    background-color: white;
    height: 40px;
    width: 343px;
    font-family: "Open Sans Regular", sans-serif;
    font-size: 14px;
    color: #86878b;
    margin-bottom: 1px;
    align-items: center;
    display: grid;
}
div.Enterprise8{
    text-transform: uppercase;
    background-color: white;
    height: 40px;
    width: 343px;
    font-family: "Open Sans Regular", sans-serif;
    font-size: 14px;
    color: #86878b;
    margin-bottom: 1px;
    align-items: center;
    display: grid;
}
div.Enterprise9{
    text-transform: uppercase;
    background-color: white;
    height: 40px;
    width: 343px;
    font-family: "Open Sans Regular", sans-serif;
    font-size: 14px;
    color: #86878b;
    margin-bottom: 1px;
    align-items: center;
    display: grid;
}
div.Enterprise10{
    text-transform: uppercase;
    background-color: white;
    height: 40px;
    width: 343px;
    font-family: "Open Sans Regular", sans-serif;
    font-size: 14px;
    color: #86878b;
    margin-bottom: 1px;
    align-items: center;
    display: grid;
}

p._center{
    text-align: center;
    margin-bottom: 80px;
}
.contact__field{
    width: 100%;
    font-size: 14px;
}
.contact__cell{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

input,textarea{
    padding: 10px 12px ;
    outline: none;
    background-color: transparent;
    border:none;
    border-bottom: 1px solid #d6d6d6;
}
textarea{
    line-height: 1.4;
    resize: none;
}
button {
    border: none;
    background-color: transparent;
    outline: none;
}
div.contact_base{
    max-width: 1121px;
    margin: 0 auto;
}
.button{
    display: inline-flex;
    min-width: 135px;
    font-size: 14px;
    font-weight: 500;
    border: 2px solid #ff8c2c;
    background-color: #ff8c2c;
    height: 40px;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.2);
    margin-bottom: 83px;
    margin-left: 500px;
}
.contact__row{
    margin-bottom: 45px;
}